*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}
p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #334155;
}
:root {
    --bg_dark :#414f8b ;
    --bg_light :#8993be ;
}
body{
    background-color: #f3f3f3;
    
}


.top_header {
    background-color:var(--bg_light);
    display: flex;
    justify-content: space-between;
    

}
.link {
    text-decoration: none;
    background-color: #fff;
    color: var(--bg_dark);
    margin: 3rem 2rem;
    padding: 0.8rem;
    border-radius: 12px;

}


.btn {
    background-color: var(--bg_light);
    border: 1px solid #fff;
    margin: 3rem 2rem;
    padding: 1rem 1.8rem;
    border-radius: 12px;
}
.bottom_header {
    background-color: var(--bg_light); 
    text-align: center;
    color: #fff;
    border-radius: 0 0 1.5rem 1.5rem;
    
 
}

.bottom_header p:last-child{
    padding-bottom: 7rem;
}
.course_img{
    margin-top: 7rem;
    width: 140px;
    height: 140px;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 60px 0 ; 
}
.main {
    text-align: right;

    margin:0 1rem;
}
.main h1 {
    color: var(--bg_dark);
    
    border-radius: 2rem;
}

.teacher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.teacher div {
    border-left: 1px solid #f3f3f3;
    margin-left: 15px;
}

.teacher_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.call {
   display: flex; 
   justify-content: space-around;
   margin: 2rem;

}
.call i{
    background: linear-gradient(45deg,var(--bg_light) 40%,var(--bg_dark) 100%);
    color:#fff; 
    border-radius: 69% 31% 61% 39%/40% 36% 64% 60%;  
    padding: 1.2rem;
    
}

.call i:hover {
    scale: 1.1;
    
    transition: 0.3s;
}





















.footer {
    height: 12rem;
    background-color: var(--bg_light);
}